<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fatNumber_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{32,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,39}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>fatNumber_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,338},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,39}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>fatNumber_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,39}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>fatNumber_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>fatNumber_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>fatNumber_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{31,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,39}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>fatNumber_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>fatNumber_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>fatNumber_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>fatNumber_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>thinNumber_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>thinNumber_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,304},{17,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{17,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>thinNumber_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,70},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>thinNumber_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,36},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>thinNumber_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,240},{22,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>thinNumber_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,104},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>thinNumber_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,138},{23,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>thinNumber_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,206},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>thinNumber_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,172},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>thinNumber_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,272},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,30}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numbers.png</string>
            <key>size</key>
            <string>{64,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:411e6a14c232c47ae8081e2cb2b5bba8:2659e35ba2ddb924b2e629e47c89d086:73cfa007bc07ad091e3f0b98e5b21293$</string>
            <key>textureFileName</key>
            <string>numbers.png</string>
        </dict>
    </dict>
</plist>
